body {
    background: url("../images/pink_rice.png");
}

.navbar-brand {
    font-size: 50px; 
    margin-top:20px; 
    margin-bottom:20px; 
    font-family: 'Oswald', sans-serif;
    color: black; 
}

#navbarlink {
    font-family: 'Oswald', sans-serif; 
    font-size: 28px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 20px; 
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

footer {
    font-family: 'Oswald', sans-serif;
}